body {
  background-color: #121212;
  font-family: courier;
  color: #fff;
}

header {
  text-align: center;
  margin-bottom: 40px;
}

header h1 {
  color: #54ad9c;
  font-size: 2em;
}

header p {

}

header a {
  color: #92b300;
}

.editor_wrapper {
  width: 1000px;
  padding: 10px;
  margin: 0 auto;
  background-color: #3a4147;
  border-radius: 8px;
}

#crevasse_container {
  width: 1000px;
  height: 600px;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}